{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{user_table.email}}" method="POST">
          <div class="form-group">
            <input type="text" name="fullname" value="{{user_table.fullname}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="companyname" value="{{user_table.companyname}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="phone" value="{{user_table.phone}}" class="form-control">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}